<nav class="space-x-4 relative z-10 w-full p-5 border-b border-white">
  <a href="#me">LOGO</a>
  <a href="#skills">skills</a>
  <a href="#projects">projects</a>
  <a href="#contact">contact</a>
</nav>
